body {
    background-color: #7fc9ee;
    background-image: url(images/blue-skies-background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

#wrapper {
    max-width: 1200px;
    margin: 0px auto;
    border: 10px double skyblue;
}

main {
    background-color: rgba(164, 210, 243, 0.7);
    padding: 5%;
}


header, footer {
    background-color: #f0f5f9;
    padding: 1%;
}

img.screenshot {
    width: 100%;
}

h1, h2, nav a, footer p {
    font-family: 'Press Start 2P', cursive;
}

h1, h2.temp, nav a, footer p{
    text-align: center;
}

h1, footer p {
    color: #4c9dc8;
}

h1 {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

nav {
    background-color: #c8e3f8;
    height: auto;
    padding: 0px 2.5vw;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
}

nav a {
    padding: 5.5vh 3rem;
    font-size: 15pt;
    text-align: center;
}

nav li {
    float: left;
    padding: 5vh 0px;
}

nav a:link, nav a:visited {
    color: black;
}

nav a:focus, nav a:hover, nav a:active {
    background-color: white;
    transform: scale(1.05, 1.05);
    transition: background-color 0.3s;
}

h2.temp {
    font-size: 3em;
    padding: 20px;
    width: 30%;
    margin: 50px auto;
}

footer {
    text-align: center;
    font-size: 12pt;
}

p, h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 15pt;
}

section {
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1300px) {
    nav {
        padding: 0px;
    }

    nav ul {
        justify-content: flex-start;
        display: flex;        
        flex-direction: column;
        padding: 0px;
    }

    nav a {
        padding-right: 100%;
    }
}