/*General style setup*/
@font-face {
    font-family: 'PressStart2P';
    src: url("fonts/PressStart2P.ttf"),
         url("fonts/PressStart2P.woff");
}
body{
    color: #b1a57a;
    font-family: 'PressStart2P', 'Courier', monospace;
    background-color: #000000;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1{
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 60px;
}
#header{
    height: 180px;
    background-image: url(images/builds_raider_frostblades_header.jpg),
                      url(images/builds_inquisitor_stormburst_header.jpg),
                      url(images/builds_raider_lightningstrike_header.jpg);
    background-position: left, center top, right;
    background-repeat: no-repeat;
}
#container{
    width: 960px;
    margin: 0px auto;
    background-color: rgba(12, 11, 11, 0.8);
}
#nav {
    margin: 40px 0px;
}
#nav li {
    float: left;
    font-size: 15px;
    padding: 0px 30px;
}
#nav ul {
    list-style-type: none;
    overflow: hidden;
}
#nav a:link, 
#nav a:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #b1a57a;
}
#nav a:hover, 
#nav a:active {
    color: #ffffff;
}
#content{
    width: 860px;
    margin-left: 50px;
    margin-right: 50px;
}
p{
    margin: 0px;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-indent: 50px;
}
img{
    padding: 10px;
}
h2.gameplay{
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0px;
}
#footer{
    height: 50px;
    padding: 5px;
    margin: 20px;
    clear: both;
    text-align: center;
}
.footer{
    font-size: 10px;
}
/* Homepage-specific setup*/
h2.welcome{
    text-align: center;
    margin-bottom: 30px;
}
#skill-tree{
    float: left;
    padding: 30px;
}
#previews{
    padding: 35px;
}
/* Gameplay-specific setup*/
img.map, img.full-pst{
    float: left;
}
img.full-pst{
    filter: brightness(200%)
}
h2.gameplay{
    margin-bottom: 5px;
}
img.active-gems{
    padding: 0px;
}
/* Character-specific setup */
table{
    width: 860px;
    border-collapse: collapse;
    margin-top: 50px;
}
caption{
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
th{
    font-size: 30px;
    font-weight: normal;
    border: 3px solid;
}
td{
    border: 3px solid;
}
h3{
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
}
img.scion{
    display: block;
    margin: 0px auto;
}
th{
    font-size: 15px;
}
th.col1{
    width: 120px;
}
th.col2{
    width: 300px; /*col3 width = 440 --> ascendancy profile photos width = 140*/
}
td.col1{
    width: 160px;
}
td.col2{
    width: 350px;
}
h3{
    font-size: 15px;
}
ul.description{
    margin: 5px;
    margin-left: -20px;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #6588ff
}
p.quote{
    font-size: 10px;
    text-indent: 0px;
    text-align: center;
    margin: 15px;
    font-style: italic;
}
/* Ascendancy-specific setup*/
table.scion{
    width: 350px;
    margin: 0px;
}
td.notable1, td.notable2{
    border: 0px;
}
li.main{
    font-weight: bold;
    filter: brightness(150%);
}
/* Builds-specific setup */
ol{
    font-size: 4.5em;
    text-align: center;
}
table.pros-cons{
    width: 800px;
    margin: 10px;
}
ul.details{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin: 20px;
}
#content ol{
    font-size: 20px;
}
h2.build-name{
    font-size: 20px;
    margin: 20px;
    margin-top: 50px;
}
p a:link, 
p a:visited,
ul.links a:link,
ul.links a:visited {
    text-align: center;
    text-decoration: none;
    color: #6588ff;
}
p a:hover, 
p a:active,
ul.links a:hover,
ul.links a:active {
    color: #ffffff;
}
ul.links{
    font-size: 15px;
}